
/* css index */
*{
    padding: 0;
    margin: 0;

}


.fondo{
    background-color: #5a58e4;
}
.container-mio{
  background: $b-g;
    
}


.w{
    @extend %wspf;
    color:$ws;
     @include footer;
    position: fixed;
    
  
}

.boton{
     @extend %menu_c;
     color:$ws;

}
.menul{
    @extend %disposicion;
    color: $menu;
    @include efectobarra;

    
    


 }
 .container-fluid{
    display: flex;
    justify-items: end;
 }


.felices{
    background-image: url(../picture/patron-fisuras-burbujas-azul_1284-43368.webp)
 }
  

   
 
   
   
 

 .titulo{
      @include titulos;
 }

 
 .parrafo{

   
    background-image: url(../picture/burbujasefecto.jpg);
  
    
    text-align:map-get($parrafos, centrado );
    
    padding:map-get($parrafos , paddin );
    margin-right:map-get($parrafos , margin-izquierdo );
    margin-bottom:map-get($parrafos, margin-abajo );
    gap: map-get($parrafos, salto );
    
    font-family: 'Aclonica', sans-serif;
    color:map-get($parrafos, color);
    font-size: map-get($parrafos , tamanoletra );
    @include parrafo;
    
     
  }
  .sub{
    @include subititulo;
  }
    

 /*estrellas*/


    
@media (min-width:768px){}
.container__estrellas{
        display:disabled
}


.estrellas1, .estrellas2, .estrellas3, .estrellas4, .estrellas5{
    @include estamano;
}
.estrellas1{
    @include efecto1;

}
.estrellas2{
    @include efecto2

}
.estrellas3{
    @include efecto3
}
.estrellas4{
    @include efecto4
}
.estrellas5{
 @include efecto5;
}
.container__estrellas:hover .estrellas1,
.container__estrellas:hover .estrellas2,
.container__estrellas:hover .estrellas3,
.container__estrellas:hover .estrellas4,
.container__estrellas:hover .estrellas5{
   @include efecto_final;
}



  .wl{
    color:$ws;
 }
 .yt{
    color:$rojo;
 }
 .in{
    color:$rojo;
 }
.re{
    @include redesestilo;
}


.foto__logo{
    width: 25%;
}



.scroll{
    color: $menu;
    @include texscroll;
   
   

    
    }
   
.texto{
    padding: 50px;
    
}


/*footer*/






.contacto{
@include contacto;

}

.face, .tw, .goo, .ins, .link, .git {
    
    @include footer;
   
}
.face{
background-color:$bfa;
}
.tw{
    background-color:$bt;
}
.goo{
    background-color:$bgoo;
}
.ins{
    background-color:$bins;
}
.link{
    background-color:$blik;
}
.git{
    background-color:$bgit;





}
/*ccss pocimas**********/


.catalogo{
    @include catalogo;
}




.card{
    @include card;

}

    



.felices__b{
@include estilocard;

}


/********css nuestra fabrica*****/


.titulof, .subtitulof{
   @include titulos;
     font-size: 10px;
}
.titulo__fabrica{
    @include titulos;
}

.subtitulo__fabrica{
   @include subititulo;
}




/**********css clientes felices****/

.titulosfe{
    @include titulos;
}


.subtitulofel {
	color: white;
    font-size: 35px;
	
    
	
     
}



.mydiv {
	@include efectocartel;
    
    
}

.animate-bg:before, .animate-bg:after {
	@include colorescartel;
}

@keyframes BGgradient {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 0% 330%;
	}
}

.animate-bg:after {
	filter: brightness(1.4);
	filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
	filter: blur(15px);
}


///* donacion*///

.formulario {
    
    display: flex;
    flex-direction: column;
    align-items: self-start;
    align-items: center;
    
    font-size: 15px;
    font-weight: bold;
    color: #f112f1;
}
    
.form-control{
   width: 200%;
    border: 1px solid rgb(56, 103, 233);
    display: flex;
    flex-direction: column;
  
}
     
  .form-check-input{
    color: #f112f1;
    border: #f112f1;
    background-color: aqua;
    border: 1px solid rgb(56, 103, 233);
  }
    





.color__bodyd{
    background-color: cornflowerblue;
 }


    

.donar{
    display: flex;
    justify-content: center;
   
}

.btn-primary{
    @include estilocard
}
