%disposicion{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    text-align: right;
    justify-content: space-around;
    flex-direction: row-reverse;
    
    
   
    
    
}

%menu_c{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    
}

%wspf{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: fixed;
    list-style: none;
    
}

