%disposicion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    
}

%menu_c{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

%wspf{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: fixed;
    list-style: none;
    
}