$linck:(
    
    color: rgba(241, 13, 241, 0.815)
);

$parrafos:(
    centrado: justify, 
    paddin: 10%,
    margin-izquierdo: 5%,
    margin-abajo: 10%,
    salto: 30px,
    color: rgb(247, 251, 253),
    tamanoletra: 30px,
);
