@mixin footer{
    
    font-size: 30px;
    padding: 10px;
    border-radius: 25px;
    
} 

@mixin efectobarra{
    overflow: hidden;
    color: fuchsia;
    text-decoration: none;
    float: right;
   

}
@mixin barra{
    display: flex;
    flex-direction: row;
    justify-content:right;
    
}



@mixin wsf{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: fixed;
    list-style: none;
}


@mixin parrafo{
    font-family: 'Aclonica', sans-serif;
    
   


}

@mixin subititulo{
    height: 250px;
    font-size: 60px;
    color: darkmagenta;
    padding: 20px 15px 20px 15px;
    margin: 5px 1px 100px 5px;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    background-image: url(../picture/pocima\ 2.jfif );
    height: 206px;
    
}

@mixin estamano{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 17%;
}   


@mixin efecto1{
    
        /* ff 3.6+ */
        background:-moz-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%); 
    
        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#E9E9E9', GradientType=0 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
    
    
    transition: all 1.5s linear;
}  

@mixin efecto2{
 /* ff 3.6+ */
 background:-moz-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%); 
    
 /* safari 5.1+,chrome 10+ */
 background:-webkit-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* opera 11.10+ */
 background:-o-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* ie 6-9 */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#E9E9E9', GradientType=0 );

 /* ie 10+ */
 background:-ms-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* global 94%+ browsers support */
 background:linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
transition: all 1.5s ease;
} 

@mixin efecto3{
 /* ff 3.6+ */
 background:-moz-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%); 
    
 /* safari 5.1+,chrome 10+ */
 background:-webkit-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* opera 11.10+ */
 background:-o-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* ie 6-9 */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#E9E9E9', GradientType=0 );

 /* ie 10+ */
 background:-ms-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* global 94%+ browsers support */
 background:linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
transition: all 1.5s ease-in-out;

}

@mixin efecto4{
     /* ff 3.6+ */
     background:-moz-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%); 
    
     /* safari 5.1+,chrome 10+ */
     background:-webkit-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
 
     /* opera 11.10+ */
     background:-o-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
 
     /* ie 6-9 */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#E9E9E9', GradientType=0 );
 
     /* ie 10+ */
     background:-ms-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
 
     /* global 94%+ browsers support */
     background:linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
    transition: all 1.5s ease-out;
}

@mixin efecto5{
 /* ff 3.6+ */
 background:-moz-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%); 
    
 /* safari 5.1+,chrome 10+ */
 background:-webkit-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* opera 11.10+ */
 background:-o-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* ie 6-9 */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#E9E9E9', GradientType=0 );

 /* ie 10+ */
 background:-ms-linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);

 /* global 94%+ browsers support */
 background:linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(0, 188, 212, 0.15) 14%, rgba(238, 130, 238, 1) 100%);
transition: all 1.5s ease;

}

@mixin efecto_final{
    transform:translateY(500px)

}

@mixin contacto{
    color: darkmagenta;
   font-family: 'Aclonica', sans-serif;
    font-size: 25px;
}

@mixin texscroll{
   
    width: 250px;
    height: 243px;
    overflow: scroll;
    overflow-x: hidden;
    
    
}
@mixin redesestilo{
    list-style: none;
    font-size: 50px;
}
@mixin titulos{
    font-size: 100px;
    color: darkmagenta;
    padding: 20px 5px 20px 5px;
    text-align: center;
    font-family: 'Aclonica', sans-serif;
}

@mixin catalogo{
    color: darkmagenta;
     text-align: center;
    font-family: 'Aclonica', sans-serif;
    font-size: 50px;
    margin: 15px;
    padding: 50px;
     /* ff 3.6+ */
     background:-moz-radial-gradient(circle at 50% 50%, rgba(128, 32, 0, 0.44) 33%, rgba(238, 130, 238, 1) 100%);

     /* safari 5.1+,chrome 10+ */
     background:-webkit-radial-gradient(circle at 50% 50%, rgba(128, 32, 0, 0.44) 33%, rgba(238, 130, 238, 1) 100%);
 
     /* opera 11.10+ */
     background:-o-radial-gradient(circle at 50% 50%, rgba(128, 32, 0, 0.44) 33%, rgba(238, 130, 238, 1) 100%);
 
     /* ie 10+ */
     background:-ms-radial-gradient(circle at 50% 50%, rgba(128, 32, 0, 0.44) 33%, rgba(238, 130, 238, 1) 100%);
 
     /* global 92%+ browsers support */
     background:radial-gradient(circle at 50% 50%, rgba(128, 32, 0, 0.44) 33%, rgba(238, 130, 238, 1) 100%);
}
@mixin card{
    margin: 25px;
   width: 18rem;
}

@mixin estilocard{
    
        margin-top: 40px;
        margin-bottom: 5px;
        padding: 5px;
        height: 70px;
        content: Donar;
    font-family: fantasy;
    color: #766394;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 5px 1px 5px #4a6ba1;
    background-color: #d9d4d4;
    box-shadow: 0px 0px 10px #0000ff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-top: 5px solid #0000ff;
    border-bottom: 5px solid #0000ff;
    border-left: 5px solid #0000ff;
    border-right: 5px solid #0000ff;
    border-radius: 15px;
}
            
@mixin efectocartel{
    position: relative;
	margin: 13%;
	width: 70%;
	height: 80px;
    background: linear-gradient(90deg, rgba(51, 37, 114, 0.699), #7406f1); 
    padding: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin colorescartel{
    content: '';
	position: absolute;
	left: -8px;
	top: -8px;
	background: linear-gradient(120deg, #79fb00, #8d01a0, #031ba5,#ff004c,  
	#e6036d, #fb0094,#ff6600, #04c2e4,#adad02, #00c3ff);
	background-size: 300%;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	z-index: -1;
	animation: BGgradient 15s ease infinite;

}