$b-g: url(../picture/patron-fisuras-burbujas-azul_1284-43368.webp);
$bgoo:#dd4b39;
$bt:#55acee;
$bfa:#00c3ff;
$bins: rgba(248, 6, 6, 0.8705882353);
$blik:#00c3ff;
$bgit:black;
$menu:rgba(241, 13, 241, 0.815);
$ws:green;

